# CLion / IntelliJ
.idea/
*.iml
*.iws

# Build CMake (debug, release, etc.)
cmake-build-*/
Input/
Output/
Dependency trees/

# Compiled files
*.o
*.a
*.so
*.dll
*.exe

*.png
*.txt
*.csv
*.xcf

# Other temporary files
*~
*.swp